
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

:root {
  --blue1: rgb(140, 233, 237);
  --violet: rgb(55, 51, 89);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  position: relative;
  height: 22vh;
}

i {
  color: var(--blue1);
  font-size: 1.5rem;
  padding-right: 2px;
}

.difficulty {
  height : 5.6rem;
  border-radius: 15px;
  border: white solid 1px;
  color: black;
  font-size: 2.5rem;
}

.choiceBtn {
  border-radius: 15px;
  background-color: var(--blue1);
  color: black;
  font-size: 2rem;
  height : 5.6rem;
  margin-top: 15px;
}

.choiceGlobal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-input-choice {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.fa-dice {
  font-size: 5rem;
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  width: 100%;
  color: var(--blue1)
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  margin-top: 15px;
  font-size: 2.5rem;
  font-weight: 100;
}

.max {
  font-size: 1.8rem;
  color: var(--blue1);
}

.circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chrono {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.number {
  background: #eee;
  border-radius: 50%;
  color: #333;
  font-size: 7rem;
  width: 13rem;
  height: 13rem;
  padding: 3rem 0rem;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.between {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.8rem;
  top: 2rem;
  right: 2rem;
  color: var(--blue1);
}

.again {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: 15px;
  background-color : rgb(55, 51, 89);
  color: #ccc;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.changeGame {
  position: absolute;
  top: 2rem;
  right: 15rem;
  border-radius: 15px;
  background-color : rgb(37, 30, 101);
  color: #ccc;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.guess {
  background-color: var(--blue1);
  color: rgb(33, 33, 33);
  border-radius: 15px;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
  border: 2px solid var(--blue1);
}

.game-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guess::placeholder {
  color: black;
}

.btn {
  border: none;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(139, 139, 139);
}

.message {
  margin-bottom: 2rem;
  height: 3rem;
  font-size: 2.5rem;
  color: var(--blue1);
}

.score {
  color: var(--blue1);
}

.label-score {
  margin-bottom: 2rem;
}

.check {
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 2rem;
} 

.highscoreBtn {
  border-radius: 15px;
  background-color: rgb(55, 51, 89);
  color: #ccc;
  margin-top: 15px;
  font-size: 1.4rem;
  width: 35%;
}

.highscore {
  color: var(--blue1);
}

/* Animation */

.error-animation {
  animation: shakeIt 0.4s 1 linear;
  background-color: rgb(153, 1, 54);
  color: white;
}

@keyframes shakeIt {
  0% { transform: translate(30px); }
  20% { transform: translate(-30px); }
  40% { transform: translate(15px); }
  60% { transform: translate(-15px); }
  80% { transform: translate(8px); }
  100% { transform: translate(0px); }
}

.valid-number {
  animation: turnAround 0.4s 1 linear;
  background-color: green;
  color: white;
}

@keyframes turnAround {
  100% { transform: rotate(360deg); }
}

.wrong-number {
  animation: turnAround 0.4s 1 linear;
  background-color: rgb(153, 1, 54);
  color: white;
}

@keyframes turnAround {
  100% { transform: rotate(360deg); }
}


/* MEDIA QUERIES */

@media screen and (max-width:450px) {
  .right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37rem;
  }

  .left {
    width: 37rem;
  }

  h1 {
    font-size: 3rem;
  }

  header {
    height: 100px;
  }

  .between {
    margin-bottom: 10px;
  }

  .btn-input-choice {
    flex-direction: column;
    align-items: center;
  }

  .difficulty {
    width: 80%;
  }

  .choiceBtn {
    width: 80%;
  }

  .fa-dice {
    font-size: 4rem;
  }

  .highscoreBtn {
    width: 50%;
  }
}